<h2>Formulario</h2>

<form [formGroup]="formulario" (ngSubmit)="enviar()">

    <div>
        <label for="nombre"> Nombre</label>
        <input type="text" formControlName="nombre">
        @if (formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched) {
            <p>El nombre es obligatorio</p>
        }
    </div>


    <div>
        <label for="email"> Email</label>
        <input type="text" formControlName="email">
        @if (formulario.get('email')?.invalid && formulario.get('email')?.touched) {
            <p>El email es invalido</p>
        }
    </div>

    <div>
        <label for="password"> Contrasena </label>
        <input type="password" formControlName="password">
        @if (formulario.get('password')?.invalid && formulario.get('password')?.touched) {
            <p>La password debe tener minimo 8 caracteres</p>
        }
    </div>

    <button type="submit" [disabled]="formulario.invalid"> Enviar</button>



</form>